:root {
  --dirtyWhiteColor: #e8ecdc;
  --primaryColor: #688196;
  --secondaryColor: #0D0630;
  --anotherColor: #18314F;
  --optionalColor: #384E77;
  --cambrigeColor: #8BBEB2;
  --teaColor: #D3E1AA;
  --purpleColor: rgb(121, 53, 121);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  background-color: var(--cambrigeColor);;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: var(--optionalColor);
  align-items: center;
  justify-content: space-between;
  padding: 20px 18%;
  margin: 0;
}

.logo {
  color:var(--dirtyWhiteColor);
  display: flex;
  font-size: 1.6rem;
}

.links-header {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color:var(--dirtyWhiteColor);
}

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: none;
  flex: 1 auto;
  background-color: var(--cambrigeColor);
  color: var(--optionalColor);
  gap: 4rem;
  padding: 6rem;
  margin-top: 4rem;
}

.section1 .left {
  width: 300px;
}

.section1 .right {
  width: 300px;
}

.section1 .right img {
  max-width: 300px;
  max-height: 200px;
}

.section1 .left button{
  z-index: 10;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 0.5rem 1rem;
  color:var(--optionalColor);
  background-color:var(--cambrigeColor);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 0.2rem;
  border: solid;
  border-color: var(--optionalColor);
  outline: none;
  min-width: 12rem;
  min-height: 3.6rem;
}

.section1 .left button:hover {
  transform: scale(1.01) rotate(-359.2deg);
  opacity: 1;
  cursor: pointer;
}


.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#384E77;
  background-color: var(--dirtyWhiteColor);
  padding: 6rem;
}

.section2 .containers {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.section2 .containers .container {
  width: 150px;
}

.section2 .containers .container img {
  max-width: 150px;
  max-height: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
}

.section2 .containers .container .text {
  text-align: center;
}

.section3 {
  background-color:#384E77;
  padding: 42px 24%;
  color:var(--dirtyWhiteColor);
}

.section3 h1 {
  text-align: left;
  font-weight: 200;
}

.section3 p {
  text-align: right;
  font-size: 22px;
  font-weight: 800;
}

.section4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 74px;
  background-color: var(--optionalColor);
  color: white;
  margin: 48px auto;
  border-radius: 12px;
  padding: 32px 62px;
}

.section4 .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  margin: 0;
  padding: 0;
}

.section4 .left h1 {
  margin: 0;
  padding: 0;
}

.section4 .left p {
  margin: 0;
  padding: 0;
}

.section4 .right button{
  z-index: 10;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 0.5rem 1rem;
  color:var(--optionalColor);
  background-color:var(--cambrigeColor);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 0.2rem;
  border: solid;
  border-color: var(--optionalColor);
  outline: none;
  min-width: 12rem;
  min-height: 3.6rem;
}

.section4 .right button:hover {
  transform: scale(1.01) rotate(-359.2deg);
  opacity: 1;
  cursor: pointer;
}

.footer {
  background-color: var(--optionalColor);
  color: var(--dirtyWhiteColor);
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
